<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.CourseMapper">

    <select id="findAll" resultType="course">
        SELECT course_id, course_name, course_begin, course_time, coach_account, employee_name, price, course_type
        FROM course
        INNER JOIN employee ON course.coach_account = employee.employee_account
    </select>

    <delete id="deleteCourseByCourseId" parameterType="java.lang.Integer">
        DELETE
        FROM course
        WHERE course_id = #{courseId}
    </delete>

    <insert id="insertCourse" parameterType="course">
        INSERT INTO course (course_name, course_begin, course_time, coach_account, price, course_type)
        VALUES (#{courseName}, #{courseBegin}, #{courseTime}, #{coachAccount}, #{price}, #{courseType})
    </insert>

    <update id="updateCourseByCourseId" parameterType="course">
        UPDATE course
        SET course_name  = #{courseName},
        course_begin     = #{courseBegin},
        course_time      = #{courseTime},
        coach_account    = #{coachAccount},
        price            = #{price},
        course_type      =#{courseType}
        WHERE course_id = #{courseId}
    </update>

    <select id="selectByCourseId" parameterType="java.lang.Integer" resultType="course">
        SELECT course_id, course_name, course_begin, course_time, coach_account, employee_name, price, course_type
        FROM course
        INNER JOIN employee ON course.coach_account = employee.employee_account
        WHERE course_id = #{courseId}
    </select>

    <delete id="deleteOrderByCourseId" parameterType="java.lang.Integer">
        DELETE
        FROM course
        WHERE course_id = #{courseId}
    </delete>


</mapper>