<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.FeedbackMapper">

    <select id="findAll" resultType="feedback">
        SELECT *
        FROM feedback
    </select>

    <delete id="deleteByFeedbackId" parameterType="java.lang.Integer">
        DELETE
        FROM feedback
        WHERE feedback_id = #{feedbackId}
    </delete>

    <insert id="insertFeedback" parameterType="feedback">
        INSERT INTO feedback (feedback_id, member_account, employee_account, content)
        VALUES (#{feedbackId}, #{memberAccount}, #{employeeAccount}, #{content})
    </insert>

    <update id="updateFeedbackByFeedbackId" parameterType="feedback">
        UPDATE feedback
        SET member_account = #{memberAccount},
        employee_account   = #{employeeAccount},
        content            = #{content},
        WHERE feedback_id = #{feedbackId}
    </update>

    <select id="selectByFeedbackId" parameterType="java.lang.Integer" resultType="feedback">
        SELECT *
        FROM feedback
        WHERE feedback_id = #{feedbackId}
    </select>

    <select id="selectByMemberAccount" parameterType="java.lang.Integer" resultType="com.milotnt.pojo.FeedbackByAccount">
        SELECT feedback.feedback_id, feedback.time_created, feedback.employee_account, employee.employee_name, feedback.content
        FROM feedback INNER JOIN employee
        ON feedback.employee_account = employee.employee_account
        WHERE feedback.member_account = #{memberAccount}
    </select>

    <select id="selectByEmployeeAccount" parameterType="java.lang.Integer" resultType="com.milotnt.pojo.FeedbackByAccount">
        SELECT feedback.feedback_id, feedback.time_created, feedback.member_account, member.member_name, feedback.content
        FROM feedback INNER JOIN member
        ON feedback.member_account = member.member_account
        WHERE feedback.employee_account = #{employeeAccount}
    </select>

</mapper>