<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="adminCommon::common-header">
</head>
<body class="sb-nav-fixed">
<nav th:replace="adminCommon::common-navbar"></nav>
<div id="layoutSidenav">
    <div th:replace="adminCommon::common-sidenav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Feedback Management</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/toAdminMain}">HomePage</a></li>
                    <li class="breadcrumb-item active">Feedback Management</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Feedback Employee List
                    </div>

                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Feedback ID</th>
                                <th>Member Account</th>
                                <th>Member Name</th>
                                <th>Employee Account</th>
                                <th>Employee Name</th>
                                <th>Content</th>
                                <th>Time Create</th>
                                <th>Operation</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="fee:${feedbackList}">
                                <td th:text="${fee.feedbackId}">Feedback ID</td>
                                <td th:text="${fee.memberAccount}">Member Account</td>
                                <td th:text="${fee.memberAccount}">Member Name</td>
                                <td th:text="${fee.employeeAccount}">Employee Account</td>
                                <td th:text="${fee.employeeAccount}">Employee Name</td>
                                <td th:text="${fee.content}">Content</td>
                                <td th:text="${fee.timeCreated}">Time Create</td>
                                <td>
                                    <a th:href="@{/feedback/toUpdateFeedback(memberAccount=${mem.memberAccount})}"
                                       style="text-decoration: none">
                                        <input type="button" class="btn btn-sm btn-outline-primary" value="Update">
                                    </a>
                                    <a th:href="@{/feedback/delFeedback(feedbackID=${fee.feedbackID})}"
                                       style="text-decoration: none">
                                        <input type="button" class="btn btn-sm btn-outline-danger"
                                               onclick="return del()" value="Delete">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
<!--                <div style="text-align:center;margin-top:20px;margin-bottom:20px">-->
<!--                    <a th:href="@{/member/toAddMember}">-->
<!--                        <input type="button" class="btn btn-outline-success" value="Add Member Information">-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </main>
        <footer th:replace="adminCommon::common-footer"></footer>
    </div>
</div>

<div th:include="adminCommon::common-scripts"></div>
<script>
    function del() {
        let msg = "Are you sure you want to delete it?";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
