<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="userCommon::common-header"></head>
<body class="sb-nav-fixed">
<nav th:replace="userCommon::common-navbar"></nav>
<div id="layoutSidenav">
  <div th:replace="userCommon::common-sidenav"></div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Update Room Information</h1>

        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a th:href="@{/toUserMain}">HomePage</a></li>
          <li class="breadcrumb-item"><a th:href="@{/user/userFeedbackEmployee}">Employee Feedback</a></li>
          <li class="breadcrumb-item active">Update Employee Feedback</li>
        </ol>

        <div class="card mb-4">

          <form th:action="@{/user/updateFeedbackEmployee}" method="post">
            <div th:each="fee:${feedbackEmployeeList}">
              <input type="hidden" name="feedbackId" th:value="${fee.feedbackId}"/>
              <table class="table table-hover">
                <tr>
                  <td text-align="center">Employee Name</td>
                  <td><input type="text" class="form-control" readonly="readonly"
                             th:value="${fee.employeeName}" name="employeeName">
                  </td>
                </tr>
                <tr>
                  <td text-align="center">Content</td>
                  <td><input type="text" class="form-control" th:value="${fee.content}"
                             name="content"></td>
                </tr>

              </table>
              <div style="text-align:center;margin-bottom:15px">
                <input type="submit" class="btn btn-outline-success" value="Update">
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer th:replace="userCommon::common-footer"></footer>
  </div>
</div>